body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(252, 252, 252);
}

h1 {
    color: rgba(130, 130, 130, 0.33);
    padding-top: 3rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 5px 12.5px #a7a3a3;
}

p {
    padding: 1.5rem;
}